:root {
  --columns: 5;
  --rows: 5;
}

.grid {
  display: inline-grid;
  grid-template: auto repeat(var(--rows), auto) / auto repeat(var(--columns), auto);
}

text {
  dominant-baseline: middle;
  fill: white;
  stroke: white;
  text-anchor: middle;
}